{% extends "app/base.html" %}

{% block content %}
<div class="row my-4">
    <div class="col-md-8">
        {% for post in post_data %}
        <div class="card mb-4">
            <div class="card-body">
                <h2 class="card-title">{{ post.title }}</h2>
                <p class="card-text">{{ post.content|truncatechars:100 }}</p> <!-- limit content text to 100 chars -->
                <div class="btn btn-warning">Details</div>
            </div>
            <div class="card-footer text-muted">
                {{ post.created|date }} by {{ post.author }}
            </div>
            <a href="{% url 'post_detail' post.id %}" class="stretched-link"></a>
        </div>
        {% endfor %}
    </div>

    <!-- Create Sidebar -->
    <div class="col-md-4">
        <div class="card">
            <h5 class="card-header">About this tutorial...</h5>
            <div class="card-body">
                <p>Step 1</p>
                <p class="m-0">
                    This is Django tutorial for beginners.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}