/************ Contacts Css ************/
.contact {
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
  padding: 60px 0 200px 0;
}

/* Contact Box Image */
.contact img {
  width: 92%;
}
/* Contact Box Title Text */
.contact h2 {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 30px;
}

/* Contact Form Input Area */
.contact form input,
.contact form textarea {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  width: 100%;
  margin: 0 0 8px 0;
  padding: 18px 26px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  transition: 0.3s ease-in-out;
}
.contact form input:focus,
.contact form textarea:focus {
  color: #121212;
  background: rgba(255, 255, 255, 1);
}
.contact form input::placeholder,
.contact form textarea::placeholder {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
.contact form input:focus::placeholder,
.contact form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}

/* Contact Form Send Button */
.contact form button {
  position: relative;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  background-color: #fff;
  border-radius: 0;
  padding: 14px 48px;
  margin-top: 25px;
  transition: 0.3s ease-in-out;
}
/* Contact Form Send Message on button */
.contact form button span {
  position: relative;
  z-index: 1;
}
/* Contact Form Send Button on Hover */
.contact form button:hover {
  color: #fff;
}
.contact form button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #121212;
  z-index: 0;
  transition: 0.3s ease-in-out;
}
.contact form button:hover::before {
  width: 100%;
}
